body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle at center, #0a0a0a 0%, #000000 70%, #010101 100%);
    overflow: hidden;
    font-family: 'Bebas Neue', sans-serif;
    color: #FFD700;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-wrapper {
    width: 900px;
    /* wider */
    height: 280px;
    /* increased proportionally */
    padding: 25px 40px;
    background: linear-gradient(90deg, #0a0a0a, #111, #0a0a0a);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    border: 2px solid #656565;
    z-index: 1000;

    -webkit-mask-image: url('batrang.svg');
    mask-image: url('batrang.svg');

    -webkit-mask-size: 100% 125%;
    mask-size: 100% 125%;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}



.nav-wrapper ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    transform: translateY(-25px);
}

.nav-wrapper ul li {
    text-decoration: none;
    color: #FFD700;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-wrapper ul li a:hover {
    color: #fff;
    text-shadow: 0 0 5px #FFD700;
}